*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(confetti.png);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    font-family: 'Times New Roman', Times, serif;
    color: #1b1c80;
    text-decoration: none;
    font-size: 20px;
}
.nav-links a:hover{
    color: #5485bd;
    
}
.lines{
    display: none;      
    flex-direction: column;
    cursor: pointer;
}
.bar{
    display:block ;
    /*flex-direction: column;*/
    width: 25px;
    height: 3px;
background-color: #000;
margin: 4px 0;
transition: 0.4s;
}
@media (max-width:768px){
    .nav-links{
        position: absolute;
        right: 0;
       
        height: 100vh;
        top: 0;
        background-color: #760b58;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;


    }
    .nav-links li{
        margin: 15px 0;
    }
.lines{
    display: flex;
    
}
}
.hpbanner{
    height: 100px;
}
 .hp{
    display: block;
    margin: 0 auto;
}
.container{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.invite{
    margin-left: 50px;
    width: 500px;
    height: auto;
}
.cake{
    margin-right: 50px;
    transition: transform 0.3s ease;
}
.cake:hover{
    transform: scale(1.05);
}
.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.btn{
    font-size: 20px;
    border: none;
}
.images{
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 5%;
}
.image {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}
.image.active {
    opacity: 1;
    transform: scale(1);
}
.image.prev {
    opacity: 0;
    transform: scale(0.8) 
}
.card2{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    max-height: 80%;
    padding: px;
    background-color: #94afcb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
}
#cardimg{
    max-width: 100%;
    max-height: 100%;
    border-radius: 18px;
}
#openbtn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #ec76ceeb;
    color: #000;
    border: none;  
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#openbtn:hover {
    background-color: #760b58;
    color: white;
}

#closebtn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #ce8b0eeb;
    color: #000;
    border: none;  
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
#closebtn:hover{
    background-color: #c82333;
    color: white;
}
.btn2{
    background-color: #98FB98;
    cursor: pointer;
}
.btn2:hover{
    transition: background-color 0.3s ease;
    background-color: rgba(10, 72, 10, 0.795);
    color: bisque;
}
.memories{
    margin-top: 70px;
}
.trip{
    text-align: center;
    font-size: 50px;
    color: #5e0e3b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.guj{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 40px 25%;
}
.guj1{
    width: 200px;
    height: 200px;
}
.text1{
    padding: 10px 10px;
background-color: rgba(139, 23, 87, 0.525);
font-size: 20px;
border-radius: 10px;
margin: 50px;
color: #000;
box-shadow: 3px 0 2px rgb(190, 120, 179);
opacity: 1;
}
.ayod{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 40px 25%;
}
.ayod1{
    width: 200px;
    height: 200px;
}
.text2{
    padding: 10px 10px;
background-color: rgba(23, 139, 102, 0.525);
font-size: 20px;
border-radius: 10px;
margin: 50px;
color: #000;
box-shadow: 3px 0 2px rgb(86, 156, 127);
opacity: 1;
}
.mathu{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 40px 25%;
}
.mathu1{
    width: 200px;
    height: 200px;
}
.text3{
    padding: 10px 10px;
background-color: rgba(90, 94, 51, 0.525);
font-size: 20px;
border-radius: 10px;
margin: 50px;
color: #000;
box-shadow: 3px 0 2px rgb(106, 111, 48);
opacity: 1;
}
.trip{
    text-align: center;
    font-size: 50px;
    color: #5e0e3b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pg{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
}
.pg img{
    width: 100%;
    transition: all 0.5s ease;
    
}
.pg img:hover{
   /* position: fixed;
    top:20%;
    left:20%;*/
    transform: scale(1.2);
    z-index: 10;
}
.pg .pgg2{
    margin-top: 20%;
}
.pg .pgg5{
    margin-top: 15%;
}